[submodule "vim/pathogen"]
	path = vim/pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "vim/bundle/jellybeans"]
	path = vim/bundle/jellybeans
	url = https://github.com/nanotech/jellybeans.vim.git
[submodule "vim/bundle/tagbar"]
	path = vim/bundle/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule "vim/bundle/tlib_vim"]
	path = vim/bundle/tlib_vim
	url = https://github.com/tomtom/tlib_vim.git
[submodule "vim/bundle/vim-addon-mw-utils"]
	path = vim/bundle/vim-addon-mw-utils
	url = https://github.com/MarcWeber/vim-addon-mw-utils.git
[submodule "vim/bundle/syntastic"]
	path = vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "vim/bundle/vim-powerline"]
	path = vim/bundle/vim-powerline
	url = https://github.com/Lokaltog/vim-powerline.git
[submodule "vim/bundle/vim-snippets"]
	path = vim/bundle/vim-snippets
	url = https://github.com/honza/vim-snippets.git
[submodule "vim/bundle/vim-go"]
	path = vim/bundle/vim-go
	url = git@github.com:fatih/vim-go.git
[submodule "vim/bundle/webapi-vim"]
	path = vim/bundle/webapi-vim
	url = ssh://git@github.com/mattn/webapi-vim.git
[submodule "vim/bundle/gist-vim"]
	path = vim/bundle/gist-vim
	url = git@github.com:mattn/gist-vim.git
[submodule "vim/bundle/vim-surround"]
	path = vim/bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "vim/bundle/vim-ps1"]
	path = vim/bundle/vim-ps1
	url = https://github.com/PProvost/vim-ps1.git
[submodule "vim/bundle/typescript-vim"]
	path = vim/bundle/typescript-vim
	url = https://github.com/leafgarland/typescript-vim.git
[submodule "vim/bundle/vim-toml"]
	path = vim/bundle/vim-toml
	url = https://github.com/cespare/vim-toml.git
